body {
  font: 18px/1.5 "Alcubierre";
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button-1 {
  height: 38px;
  background: #a18fd8;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-weight: bold;
  font: "Alcubierre";
}

.dark {
  padding: 15px;
  background: #042b5a;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}

/* Header */
header {
  font-family: "Audrey-normal";
  font-size: 22px;
  background-color: #042b5a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #a18fd8 3px solid;
}

header a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 17px;
}

header li {
  display: inline-block;
  padding: 0 20px 10px 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
  text-transform: capitalize;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #a18fd8;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */

#showcase {
  min-height: 400px;
  background: url("../img/colours.jpg") no-repeat 0 -100px;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  font-size: 60px;
  font-family: "Audrey-normal";
  margin-top: 50px;
  margin-bottom: 10px;
}

#showcase p {
  font-weight: bold;
  font-size: 26px;
}

/* Newsletter */

#newsletter {
  padding: 15px;
  background-color: #042b5a;
  color: #ffffff;
}

#newsletter h1 {
  display: inline;
}

#newsletter form {
  float: right;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img {
  width: 200px;
}

#boxes .box h2 {
  font-size: 30px;
}

#boxes .box p {
  font-weight: bold;
}

/* Sidebar */

aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 30px;
}

/* Main-column */

article#main-col {
  float: left;
  width: 65%;
  margin-top: 10px;
  padding: 10px;
  font: "Alcubierre";
}

/* Projects */

ul#projects li {
  list-style: none;
  padding: 20px;
  border: #a18fd8 solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

.quote input,
.quote textarea {
  width: 90%;
  padding: 5px;
  margin: 5px;
}

.quote textarea {
  padding-bottom: 20px;
}

/* Projects-page newsletter */

aside#sidebar .newsletter2 input {
  width: 90%;
  padding: 5px;
}

#sidebar h1 {
  display: inline;
}

.button-2 {
  height: 30px;
  background: #a18fd8;
  border: 0;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  font: "Alcubierre";
  font-size: 10px;
}

.button-3 {
  height: 40px;
  background: #a18fd8;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  font-weight: bold;
  font: "Alcubierre";
  font-size: 12px;
  display: inline-block;
}

/* Footer */

footer {
  margin-top: 10px;
  padding: 10px;
  color: #ffffff;
  background-color: #a18fd8;
}

footer li {
  display: inline-block;
  padding: 0 5px 0px 5px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

footer ul {
  float: right;
  margin-top: 15px;
}

footer p {
  float: left;
}

footer a:hover {
  color: #cccccc;
  font-weight: bold;
}

#projects {
  font-family: "Audrey-normal";
}
